<!DOCTYPE html>
<!-- Use thymeleaf schema -->
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Login page</title>

    <!-- Montserrat font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800;900&display=swap" rel="stylesheet">

    <!-- .css -->
    <link rel="stylesheet" type="text/css" href="styles/common.css">
    <link rel="stylesheet" type="text/css" href="styles/pages/login.css">
</head>
<body>
<div class="container">
    <!-- Execute Spring Security's "/login" POST request -->
    <form th:action="@{/login}" method="post">
        <h1>Log in</h1>
        <label for="username">Input username:</label>
        <input type="text" id="username" name="username" placeholder="username" autofocus="autofocus"/>
        <br/>
        <label for="password">Input password:</label>
        <input type="password" id="password" name="password" placeholder="password" autofocus="autofocus"/>
        <br/>
        <input type="submit" value="Log in"/>
    </form>
</div>
</body>

<!-- .js -->
<script th:inline="javascript">
    window.addEventListener('DOMContentLoaded', function (e) {
        e.preventDefault();
            if ([[${error}]] === true) {
                alert('Wrong username or password');
            }
        }
    );
</script>
</html>