<!DOCTYPE html>
<!-- Use thymeleaf -->
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Your page</title>

    <!-- Montserrat font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800;900&display=swap" rel="stylesheet">

    <!-- .css -->
    <link rel="stylesheet" type="text/css" href="styles/common.css">
    <link rel="stylesheet" type="text/css" href="styles/pages/success.css">
</head>
<body>
<div class="container-table">
    <h1 th:text="'Hello, ' + ${username}"></h1>

    <a href="/logout">Log out</a>
    <br>

    <!--
     - <strong>
     -     ONLY ADMINS CAN SEE <pre> DOM </pre> ELEMENTS, HAVING
     -     <pre> sec:authorize="hasRole('ROLE_ADMIN')" </pre> ATTRIBUTE.
     - </strong>
    -->
    <input sec:authorize="hasRole('ROLE_ADMIN')" class="admin-secured-input" placeholder="Manage a user"
           id="admin-input"/>
    <button sec:authorize="hasRole('ROLE_ADMIN')" onclick="onAdminBanButtonClicked()">Ban</button>
    <button sec:authorize="hasRole('ROLE_ADMIN')" onclick="onAdminUnbanButtonClicked()">Unban</button>
    <br sec:authorize="hasRole('ROLE_ADMIN')"/>
    <br sec:authorize="hasRole('ROLE_ADMIN')"/>

    <input class="search-someones-agenda-input" id="search-someones-agenda-input"
           placeholder="Search for someone's agenda"/>
    <button onclick="onSearchButtonClicked()">Search!</button>

    <h1>Your agendas:</h1>
    <table class="agenda-table">
        <thead>
        <tr>
            <td>Day of week</td>
            <td>Time</td>
            <td>Note</td>
            <td>Accessible</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="agendaEntity: ${agendas}">
            <td name="day" th:text="${agendaEntity.day}"></td>
            <td name="time" th:text="${agendaEntity.time}"></td>
            <td name="note" th:text="${agendaEntity.note}"></td>
            <td name="accessible" th:text="${agendaEntity.accessible}"></td>

            <!-- Ids to indicate that lower td's should never be contenteditable -->
            <td name="edit">
                <button th:onclick="|onEditButtonClicked('${agendaEntity.id}', this)|">edit</button>
            </td>

            <td name="delete">
                <button th:onclick="|onDeleteButtonClicked('${agendaEntity.id}', this)|">delete</button>
            </td>
        </tr>
        </tbody>
    </table>
    <button th:onclick="|onAddButtonClicked()|">add agenda</button>
</div>
</body>

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- 'Cleave' formatter for <pre> <input...></input> </pre> elements -->
<script type="text/javascript" src="/scripts/success/additional/cleave.js"></script>

<!--
 - Attach needed functions to the <pre> window </pre> manually:
 -
 - https://stackoverflow.com/questions/49338193/how-to-use-code-from-script-with-type-module
-->
<script type="module" th:inline="javascript">
    import {onEditButtonClicked} from '/scripts/success/success.js';
    import {onDeleteButtonClicked} from '/scripts/success/success.js';
    import {onAddButtonClicked} from '/scripts/success/success.js';
    import {onSearchButtonClicked} from '/scripts/success/success.js';
    import {onAdminBanButtonClicked} from '/scripts/success/success.js';
    import {onAdminUnbanButtonClicked} from '/scripts/success/success.js';

    window.onEditButtonClicked = function (agendaId, editButton) {
        onEditButtonClicked(agendaId, editButton);
    };

    window.onDeleteButtonClicked = function (agendaId, deleteButton) {
        onDeleteButtonClicked(agendaId, deleteButton);
    };

    window.onAddButtonClicked = function () {
        onAddButtonClicked([[${username}]]);
    };

    window.onSearchButtonClicked = function () {
        onSearchButtonClicked();
    };

    window.onAdminBanButtonClicked = function () {
        onAdminBanButtonClicked();
    };

    window.onAdminUnbanButtonClicked = function () {
        onAdminUnbanButtonClicked();
    }
</script>
</html>