<!--Welcome page -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>

    <!-- Montserrat font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800;900&display=swap" rel="stylesheet">

    <!-- .css -->
    <link rel="stylesheet" type="text/css" href="/styles/common.css">
    <link rel="stylesheet" type="text/css" href="/styles/pages/welcome.css">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<header>
    <div class="container">
        <div class="heading">
            <nav>
                <ul class="menu">
                    <li>
                        <a id="sign_up" href="/signup">sign up</a>
                    </li>
                    <li>
                        <a id="sign_in" href="/login">sign in</a>
                    </li>
                    <li>
                        <input id="input-search" placeholder="search someone's agenda"/>
                        <button onclick="onSearchButtonClicked($('#input-search').val())">Search</button>
                    </li>
                </ul>

            </nav>
        </div>
    </div>
</header>
</body>
<!-- .js -->
<script type="module">
    import {onSearchButtonClicked} from '/scripts/success/success.js';

    window.onSearchButtonClicked = function(username) {
        onSearchButtonClicked(username);
    };
</script>

</html>