<!--Welcome page -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>

    <!-- Montserrat font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800;900&display=swap" rel="stylesheet">

    <!-- .css -->
    <link rel="stylesheet" type="text/css" href="/styles/common.css">
    <link rel="stylesheet" type="text/css" href="/styles/pages/welcome.css">
</head>
<body>
<header>
    <div class="container">
        <div class="heading">
            <nav>
                <ul class="menu">
                    <li>
                        <a id="sign_up" href="/signup">sign up</a>
                    </li>
                    <li>
                        <a id="sign_in" href="/login">sign in</a>
                    </li>
                    <li>
                        <input name="search-someones-agenda" placeholder="search someone's agenda"/>
                        <button onclick="onSearchButtonClicked()">Search</button>
                    </li>
                </ul>

            </nav>
        </div>
    </div>
</header>
</body>

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!--
 - Attach needed functions to the <pre> window </pre> manually:
 -
 - https://stackoverflow.com/questions/49338193/how-to-use-code-from-script-with-type-module
-->
<script type="module">
    import {onSearchButtonClicked} from '/scripts/welcome/welcome.js';

    window.onSearchButtonClicked = function() {
        onSearchButtonClicked();
    };
</script>

</html>